Source: regolith-system
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-system
Vcs-Git: https://github.com/regolith-linux/regolith-system.git

Package: regolith-system
Architecture: any
Depends: ${misc:Depends},
    alsa-base,
    eog,
    evince,
    file-roller,
    gedit,
    gnome-font-viewer,
    gnome-system-tools,
    gsettings-ubuntu-schemas,
    ibus,
    libavahi-ui-gtk3-0,
    nautilus,
    network-manager-config-connectivity-ubuntu,
    regolith-desktop,
    regolith-lightdm-config,
    ubiquity-frontend-gtk,
    ubiquity-slideshow-regolith,
    ubiquity,
    ubuntu-system-service,
    x-display-manager,
    xinit,
    xorg
Multi-Arch: foreign
Description: Regolith System
 This package installs a complete Regolith system. 
